.controls {
	display: flex;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 10px;
}

.controls-right {
	margin-left: auto;
}

.state {
	margin: 10px 0;
	font-family: monospace;
}

.state-title {
	color: #999;
	text-transform: uppercase;
}

.ql-toolbar.ql-snow {
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 8px;
}